spacy==3.5.0
fastapi==0.95.2
bs4==0.0.1
starlette==0.27.0
python-multipart
uvicorn==0.22.0
pydantic
ru-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_lg-3.5.0/ru_core_news_lg-3.5.0.tar.gz